.wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-content-item {
    align-items: center;
    text-align: center;
}
.footer-contact {
    align-items: center;
    text-align: center;
}
